<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sieben Project</title>
    </head>
    <body>
        <ul>
            {% for day, events in calendar.items %}
                <!-- https://docs.djangoproject.com/en/3.1/ref/templates/builtins/#date -->
                <li> {{ day|date:"D d" }} </li>
                <ul>
                    {% for event in events %}
                        <li> {{ event.place_name }} </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    </body>
</html>